@using Product_MVCWebApplication.Models;
@* @Model.User; *@

<h1>Login Here</h1>

<form method="post">

<label>Enter Email : </label>
<input type="text" id="email" name="email" />

<label>Enter Password : </label>
<input type="password" id="password" name="password"/>

<button type="submit" id="btnlogin" >Log In</button>
</form>