@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>It's Home Controller Index Page</h1>
<form action="/account/logout" method="post">
    <button type="submit">Logout</button>
</form>