
<div>
    <h1>Login Form</h1>
    <form action="post" method="/Account/Login">
        <label>Enter Email : </label>
        <input type="text" id="email" name="email" />
        <label>Enter Password : </label>
        <input type="text" id="password" name="password"/>
        <button type="submit">LogIn</button>
    </form>
</div>
